<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <nav>
            <a href=""><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
            <p>Lugar para poner la barra de búsqueda</p>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <a href=""><img src="/images/img-home-banner.jpg" width="100%" alt="banner">
            </a>
            <section>
                <div>
                    <h2>Basado en tu última visita</h2>
                    <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="cafetera">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h4>Cafetera Moulinex</h4>
                </div>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="macbook">
                    <p>$230.000</p>
                    <p>20% off</p>
                    <h4>MacBook Pro 2019</h4>
                </div>
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="galaxy">
                    <p>$70.500</p>
                    <p>10% off</p>
                    <h4>Samsung Galaxy S10</h4>
                </div>
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="tv">
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h4>SmartTv Samsung 43"</h4>
                </div>
            </section>
            <section>
                <div>
                    <h2>Sección de Ofertas</h2>
                    <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="cafetera">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h4>Cafetera Moulinex</h4>
                </div>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="macbook">
                    <p>$230.000</p>
                    <p>20% off</p>
                    <h4>MacBook Pro 2019</h4>
                </div>
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="galaxy">
                    <p>$70.500</p>
                    <p>10% off</p>
                    <h4>Samsung Galaxy S10</h4>
                </div>
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="tv">
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h4>SmartTv Samsung 43"</h4>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div>
            <section>
                <p><b>Pagá con tarjeta o en efectivo</b></p>
                <span>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</span>
            </section>
            <section>
                <p><b>Envío gratis desde $ 2.500</b></p>
                <span>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</span>
            </section>
            <section>
                <p><b>Seguridad, de principio a fin</b></p>
                <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</span>
            </section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>