<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/30aba88446.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body class="home">
    <header class="home__header">
        <nav class="home__header__nav">
            <img class="home__header__nav--logo" src="/images/logo-mercado-liebre.svg" alt="">
            <div class="home__header__nav__container">
                <form action="">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <p class="home__header__nav--titulo"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="">Ingresá<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a href="">Mis compras<i class="fa-sharp fa-solid fa-bag-shopping"></i></a></li>
            </ul>
            <button class="header__burger">
                <i class="fas fa-bars"></i>
            </button>
        </nav>
    </header>
    <main class="home__main">
        <div>
            <img class="home__main--banner" src="/images/img-home-banner.jpg" alt="banner">
            <div><h2 class="home__main--titulo">Basado en tu última visita</h2></div>
            <section>   
                <div class="home__main--article">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="sub-contenedor">
                        <i class="fa-solid fa-truck"></i>
                            <p class="home__main--precios">$6.770</p>
                            <p class="home__main--descuento">40% OFF</p>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </div>
                <div class="home__main--article">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="sub-contenedor">
                        <i class="fa-solid fa-truck"></i>
                        <p class="home__main--precios">$230.000</p>
                        <p class="home__main--descuento">20% off</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </div>
                <div class="home__main--article">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="galaxy">
                    <div class="sub-contenedor">
                        <i class="fa-solid fa-truck"></i>
                        <p class="home__main--precios">$70.500</p>
                        <p class="home__main--descuento">10% off</p>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </div>
                <div class="home__main--article">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="tv">
                    <div class="sub-contenedor">
                        <i class="fa-solid fa-truck"></i>
                        <p class="home__main--precios">$23.200</p>
                        <p class="home__main--descuento">5% off</p>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </div>
            </section>
            <div><h2 class="home__main--titulo">Sección de Ofertas</h2></div>
            <section>
                <div class="home__main--article">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="sub-contenedor">
                        <i class="fa-solid fa-truck"></i>
                        <p class="home__main--precios">$6.770</p>
                        <p class="home__main--descuento">40% OFF</p>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </div>
                <div class="home__main--article">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="sub-contenedor">
                        <i class="fa-solid fa-truck"></i>
                        <p class="home__main--precios">$230.000</p>
                        <p class="home__main--descuento">20% off</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </div>
                <div class="home__main--article">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="galaxy">
                    <div class="sub-contenedor">
                        <i class="fa-solid fa-truck"></i>
                        <p class="home__main--precios">$70.500</p>
                        <p class="home__main--descuento">10% off</p>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </div>
                <div class="home__main--article">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="tv">
                    <div class="sub-contenedor">
                        <i class="fa-solid fa-truck"></i>
                        <p class="home__main--precios">$23.200</p>
                        <p class="home__main--descuento">5% off</p>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="home__footer">
        <div class="home__footer__div">
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <p class="home__footer__div--titulo"><b>Pagá con tarjeta o en efectivo</b></p>
                <p class="home__footer__div--subtitulo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>
                <p class="home__footer__div--titulo"><b>Envío gratis desde $ 2.500</b></p>
                <p class="home__footer__div--subtitulo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-sharp fa-solid fa-shield-halved"></i>
                <p class="home__footer__div--titulo"><b>Seguridad, de principio a fin</b></p>
                <p class="home__footer__div--subtitulo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>