* {
    margin: 0px px;
    padding: 0px px;
}

.home {
    font-family: var(--tipografiaGeneral);
    font-size: 12px;
}

a {
    text-decoration: double;
    color: black;
}
.button a{
    color: white;
}

li {
    list-style: none;
}

ul, ol {
    padding: 5px 70px;
}

.home__footer {
    color: var(--colorOscuro);
    padding: 15px;
}