body {
    margin: 0px;
    box-sizing: border-box;
    
}

.home__header {
    background-color: #EAC926;
    width: 100%;
}

.home__header__nav {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.home__header__nav li{
    display: none;
}

.home__header__nav--titulo {
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.home__header__nav--logo {
    width: 45%;

}
.home__header__nav--logo img {
    width: 100%;
}
.home__header__nav__container{
    width: 50%;
}
.home__header__nav__container input{
    box-sizing: border-box;
    border: none;
}
.home__header__nav__container button{
    background-color: #fff;
    color: var(--colorOscuro);
    border: none;
}

.header__burger {
    width: 45px;
    height: 45px;
    background-color: var(--colorCeleste);
    margin: 5% auto 30px;
    margin-bottom: 5px;
    font-size: 25px;
    color: white;
    border: solid 50% var(--colorCeleste);
    border-radius: 10px;
    
}

.home__main {
    background-color: var(--colorGris)
}

.home__main--banner {
    width: 100%;
}

.home__main section {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.home__main--article {
    background-color: white;
    box-sizing: border-box;
    border: solid white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.home__main--article img {
    width: 100%
}

.sub-contenedor {
    border-top: 1px solid #ebebeb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    position: relative;
}
.sub-contenedor i{
    width: 10px;
    height: 10px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid var(--colorVerde);
    background-color: white;
    display: block;
    color: var(--colorVerde);
    font-size: 10px;
    position: absolute;
    right: 15px;
    top: -15px
}
.home__main--titulo {
    font-size: 24px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    color: var(--colorOscuro);
    
}

.home__main--precios {
    font-size: 18px;
    width: 30%;
    /* margin-bottom: 0px; */
    /* margin-top: 5px; */
}

.home__main--article h4 {
    font-size: 16px;
    margin-bottom: 15px;
    display: none;
}

.home__main--descuento {
    font-size: 1.1rem;
    color: var(--colorVerde);
    width: 70%;
    /* margin-top: 5px; */
}

.home__footer__div i {
    margin-left: 50%;
    color: var(--colorCeleste);
    font-size: 2.5em;
    margin-bottom: -1%;
}

.home__footer__div--titulo {
    font-size: 18px;
    text-align: center;
    margin-bottom: -2%;
}

.home__footer__div--subtitulo {
    text-align: center;
    margin-bottom: 15%;
}

@media (min-width: 768px) {
    .home__header nav{
        gap: 20px;
/* padding: 10px; */
    }
    .home__header__nav--logo{
        width: 30%
    }

    .home__header__nav__container {
        width: 30%;
    }
    .home__header__nav--titulo {
        width: 30%;
        
    }
    .home__header__nav ul {
        display: flex;
        gap: 10px;
    }
    .home__header__nav li{
        display: flex;
        justify-content: space-around;
    }
    
    .header__burger {
        display: none;
    }
    .home__main section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .home__main--article {
        box-shadow: 6px 7px 11px -6px rgba(0,0,0,0.75);
        width: 48%;
    }
    .sub-contenedor {
       
    }
    .home__main--article h4 {
        display: block;
    }
    
}

@media (min-width: 1180px) {
    .home__header__nav--titulo {
        text-align: end;
        font-size: 16px;
    }
    .home__header__nav__container input{
        width: 90%;
    }
    .home__main--article {
        box-shadow: 6px 7px 11px -6px rgba(0,0,0,0.75);
        width: 24%;
    }
    .home__main--precios {
        font-size: 16px;
    }
    
    .home__main--descuento {
        font-size: 14px;
    }
}